--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
transformers[torch]==4.55.0
huggingface_hub
bitsandbytes

datasets

numpy
pandas

scipy
networkx
scikit-learn

notebook
ipykernel
jupyter
ipywidgets 
tqdm
trl
h5py
accelerate

matplotlib
seaborn
colorcet
plotly